.list-card-li {
    background: #eee;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem 0;
}
.button-div {
    display: flex;
    justify-content: space-between;
}

.button-div button {
    margin-left: 0;
}